*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.container{
max-width:calc(100% - 120px);
margin: auto;
}
:root{
    --maincolor:#545BE8;
    --mainfont: "Poppins", sans-serif;
    --secondfont:"Inter", sans-serif ;
}
