body {
    font-family: var(--mainfont);
}

.header {
    padding: 20px 0;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
}

.menu {
    display: none;
}

.header .logo {
    display: flex;
    gap: 3px;
    align-items: center;
    flex-wrap: wrap;
}

.header .logo a {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: var(--maincolor);
}

.header .logo img {
    width: 35px;
}

.header .navbar ul {
    display: flex;
    align-items: center;
    gap: 17px;
    flex-wrap: wrap;

}

.active {
    font-weight: 900;
}

.header .navbar ul a {
    color: #101928;
    font-size: 19px;
    font-family: var(--mainfont);
    transition: .5s;
}

.header .navbar ul a:hover {
    font-weight: 900;
}

.header .auth form {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

.header .auth .btnLogin {
    padding: 6px 29px;
    border: 3px solid var(--maincolor);
    border-radius: 9px;
    color: var(--maincolor);
    background-color: white;
    font-family: var(--secondfont);
    font-size: 16px;
    font-weight: 700;
}

.header .auth .Register {
    padding: 6px 28px;
    border: 3px solid var(--maincolor);
    border-radius: 9px;
    color: white;
    background-color: var(--maincolor);
    font-family: var(--secondfont);
    font-size: 16px;
    font-weight: 700;
}

@media screen and (max-width:1027px) {

    .navbar,
    .auth {
        display: none;
    }

    .menu {
        display: block;
        order: 1;
    }
}

@media screen and (max-width:570px) {
    .container {
        width: calc(100% - 35px);
    }

    .header .logo img {
        width: 25px;
    }

    .header .logo a {
        font-size: 15px;
        font-weight: 400;
    }
}

.testimonials {
    padding: 50px 0;
}

.testimonials .row {
    gap: 40px;
}

.testimonial {
    padding: 20px;
    width: calc((100% - 40px) / 2);
    background-color: #ffffff;
    box-shadow: 0px 8.23719596862793px 8.23719596862793px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    
}

.testimonials h2 {
    text-align: center;
    margin-bottom: 30px;
}

.testimonials .user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.testimonial .user-info{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;    
}
.testimonial .user-data{
display: flex;
flex-wrap: wrap;
flex-direction: column;
gap: 9px;
}
.testimonial .rating{
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}
.testimonial .rating svg{
    width: 18px;
    height: 18px;
}


.footer {
    background-color: #393E46;
    color: white;
}

.footer a {
    color: white;
}

/* .footer .row{
    flex-wrap: nowrap;
} */
.footer-start {
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
}

.footer .logo {
    display: flex;
    gap: 3px;
    align-items: center;
    flex-wrap: wrap;
}

.footer .logo a {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;

}

.footer .logo img {
    width: 35px;
}


.footer-start .icons img {
    width: 45px;
    height: 45px;
    padding: 10px;
    border: 2px solid #ccc;
    color: white;

}

.footer-start .icons {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;

}

.footer-end {
    padding: 80px 0;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-evenly;
    text-align: center;

}

.footer-end h2 {
    margin-bottom: 20px;
}

.footer-end .footer-item nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5px;
}

@media screen and (max-width:1280px) {
    .footer-start {
        width: 100%;
        align-items: center;
        text-align: center;
        padding: 50px 0 0 0;

    }

    .footer-start p {
        width: 400px;
    }

    .footer-end {
        width: 100%;
        justify-content: space-between;
    }

}

@media screen and (max-width:750px) {
    .footer-end .footer-item {
        width: calc(50% - 50px);
    }
}

@media screen and (max-width:475px) {
    .footer-end .footer-item {
        width: 100%;
    }

    .footer-start p {
        max-width: fit-content;
    }
}